.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 1.5rem;
  background: var(--linear);
}

.main-header > .info {
  display: flex;
  justify-content: space-between;
  max-width: 56.25rem;
  width: 100%;
  margin-bottom: 4.375rem;
}

.main-header > .info > h1,
.main-header > .info > span {
  font-family: "Lexend Deca";
  font-weight: 400;
  color: var(--white);
  font-size: clamp(1.125rem, 0.9737rem + 0.5848vw, 1.5rem);
}
